<address>
  <p>
    Email: <a href="mailto:lukasz@dechnik.net">lukasz@dechnik.net</a>;
    <span class="pgp">PGP:
      <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/35655963B7835180125FE55DD7BCC570927C355B">
        <span>3565 5963 B783 5180 125F</span> E55D D7BC C570 927C 355B
      </a>
    </span>
  </p>
  <p class="copyleft">Copyleft <a href="/">Lukasz Dechnik</a> (<a href="/git/website/about">source code</a>)</p>
</address>

<p class="print-site-link"><small>Also available at <a href="https://{{ site.domain }}{{ page.url }}">my website</a>.</small></p>
